.App {
  text-align: center;
}

.App-logo { 
  height: 140px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
    padding: 1em 1.5em;
    border: 0px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color:rgb(49, 126, 138);   
}

.btn:hover {
    background-color:rgb(35, 177, 199);
   
}

.btn:disabled {
    background-color:rgb(164, 174, 174);
   
}